:root {
  --r-heading-text-transform: none ;
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.reveal.ready .slides {
  opacity: 1;
}

.text-left {
  text-align: left;
}

.reveal ul ul {
  margin-top: 1rem;
}

.small {
  font-size: 66%;
}

.smallitalic {
  font-size: 0.6em;
  font-style: italic;
}

.reveal pre {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(180, 180, 180, 0.5);
  background: #272822;
  color: #ddd;
  font-size: 0.5em;
  border-radius: 6px;
}

p code, p kbd, ul code {
  background: rgba(180, 180, 180, 0.2);
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 4px;
}

p kbd, ul kbd {
  font-family: monospace;
}

.reveal .code-wrapper, pre, pre code {
  white-space: pre-wrap !important;
}

section ul li + li {
  margin-top: 1rem;
}

a.github-corner {
  position: fixed;
  z-index: 2;
  top: 0;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.3);
}
a.github-corner.bottom {
  top: auto;
  bottom: 3px;
}

a.github-corner:hover {
  color: white;
}

.centerblock {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

ol.twocol {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  counter-reset: item;
  width: 80%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
ol.twocol li {
  counter-increment: item;
  padding-left: 1.7em;
}
ol.twocol li:before {
  content: counter(item) ".";
  margin-left: -1.7em;
  margin-right: 0.5em;
  display: inline-block;
  width: 1.2em;
  text-align: right;
}