.backgrounds {
  background: #1a1626;
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reveal.ready .slides {
  opacity: 1;
}

.small {
  font-size: 0.6em;
}

.smallitalic {
  font-size: 0.6em;
  font-style: italic;
}

.reveal pre {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(180, 180, 180, 0.5);
  background: #272822;
  color: #ddd;
  font-size: 0.5em;
  border-radius: 6px;
}

p code, p kbd, ul code {
  background: rgba(180, 180, 180, 0.2);
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 4px;
}

p kbd, ul kbd {
  font-family: monospace;
}

section ul li + li {
  margin-top: 1rem;
}

a.github-corner {
  position: absolute;
  z-index: 1;
  top: 0;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}
a.github-corner.bottom {
  top: auto;
  bottom: 3px;
}

a.github-corner:hover {
  color: white;
}