:root {
  --r-background-color: #CDDDDD;
  --r-heading-color: #008080;
  --r-main-color: #004444;
  --r-link-color: #006666;
  --r-link-color-hover: #009090;
  --r-main-font-size: 36px;
}

a.github-corner {
  color: var(--r-main-color);
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  opacity: 0.25;
}
a.github-corner:hover {
  color: var(--r-main-color);
  opacity: 0.75;
}

p code {
  background: rgba(0, 68, 68, 0.2);
}

.reveal .code-wrapper, pre, pre code {
  white-space: pre-wrap !important;
}

.slides a:hover {
  text-decoration: underline;
}

.menubar {
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985), -webkit-transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -webkit-transform: translateY(calc(-100% - 1px));
      -ms-transform: translateY(calc(-100% - 1px));
          transform: translateY(calc(-100% - 1px));
  color: var(--r-main-color);
  padding-right: 3em;
  padding-right: 100px;
  z-index: 2;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: clamp(16px, var(--r-main-font-size) * var(--simplemenu-scale, 0.75), 80px);
  line-height: 1;
}
.menubar * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.menubar.bottom {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.menubar:before, .menubar:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid currentColor;
  opacity: 0.3;
}
.menubar:before {
  top: 0;
}
.menubar:after {
  bottom: 0;
}
.menubar.top:before {
  opacity: 0;
}
.menubar.bottom:after {
  opacity: 0;
}
html:not(.print-pdf) body:not(.hide-menubar) .reveal.ready:not(.hide-menubar) .menubar {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
body.hide-menubar .reveal.ready .menubar a {
  -webkit-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.print-pdf .pdf-page:not(.hide-menubar) .menubar {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.menubar a {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menubar a:hover {
  color: var(--r-heading-color);
}
.menubar a.logo {
  width: 4em;
  margin: 0;
  padding: 0.25em 0.5em;
}
.menubar a.logo img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
.menubar > ul {
  -webkit-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: opacity 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  gap: 1.5em;
}
.menubar > ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.2em solid transparent;
  border-bottom: 0.2em solid transparent;
}
.menubar > ul li:before {
  display: none;
}
.menubar > ul li + li {
  margin: 0;
}
.menubar > ul li.active {
  border-bottom-color: var(--r-heading-color);
}
.menubar > ul a {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  color: currentColor;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.menubar > ul a:hover {
  color: currentColor;
  opacity: 0.75;
}
.menubar > ul li.active a {
  opacity: 1;
  border-bottom-color: var(--r-heading-color);
}

.hide-menu .menu, .hide-menu .menu, [data-state=hide-menu] .menu {
  opacity: 0;
}

.reveal .slide-number, .menubar .slide-number {
  background: none;
  font-family: inherit;
  color: inherit;
}
.reveal .slide-number a, .menubar .slide-number a {
  padding: 0;
  opacity: 0.33;
  color: currentColor;
}
.reveal .slide-number a:hover, .menubar .slide-number a:hover {
  color: currentColor;
  opacity: 0.75;
}

.menubar .slide-number {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 0.75em;
  height: 100%;
  right: 0;
  bottom: auto;
  z-index: 0;
  padding: 0;
  padding-right: 1em;
}

.slides ~ .menubar, .menubar.bottom {
  top: auto;
  bottom: 3px;
}

.slides ~ .menubar ~ .controls {
  margin-bottom: clamp(16px, 2.5 * var(--r-main-font-size) * var(--simplemenu-scale, 0.75), 100px);
}